*$py.class
*,cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.so
*.spec
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.python-version
.ropeproject
.scrapy
.spyderproject
.tox/
.webassets-cache
ENV/
__pycache__/
build/
celerybeat-schedule
coverage.xml
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
gen
htmlcov/
instance/
lib/
lib64/
local_settings.py
nosetests.xml
out
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv/
