#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""{{ package_name }}.__main__: executed when bootstrap directory is called as script."""

from {{ package_name }}.{{ package_name }} import main


main()
