#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
Project: {{ package_name }}
File:    {{ package_name }}.py
"""

from __future__ import (absolute_import, division, print_function, unicode_literals)
from builtins import *

__version__ = "0.0.1"

import argparse

from {{ package_name }}.package import create_package, delete_package
from {{ package_name }}.file import search_files, search_content


def getargs():
    return None

def main():
    args = getargs()


