#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
Project: {{ package_name }}
File:    package.py
"""

from __future__ import (absolute_import, division, print_function, unicode_literals)
from builtins import *


def create_package():
    print("You are in Package - Create Package")

def delete_package():
    print("You are in Package - Delete Package")
